div#nowei-banner {
    background: #f09e84;
    border: 2px solid #8c0e0e;
    padding: 5px;
    width: auto;
    height: auto;
    
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
    background: #ea8c6f;
    font-size: 0.9em;
}

div#nowei-innerwrap {
    padding: 5px 10px 5px 10px;
    background-color: #f09e84;
    border-radius: 5px;
}

div#nowei-opener {
    font-weight: bold;
    font-size: 1.4em;
    color: #8c0e0e;
}

div#nowei-banner a:link {
    color: blue;
    text-decoration-line: underline;
    text-decoration-color: blue;
}

div#nowei-dismiss-wrap {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

button#nowei-dismiss {
    color: black;
}

