div#no-wei-banner {
    background: #f09e84;
    border: 2px solid black;
    padding: 5px;
    width: auto;
    height: auto;
    
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
}

div#nowei-opener {
    font-weight: bold;
    font-size: 1.4em;
    color: #8c0e0e;
    text-shadow: #eee6d6 1px 1px 3px;
}

div#no-wei-banner a:link {
    color: blue;
    text-decoration-line: underline;
    text-decoration-color: blue;
}
